* {
  box-sizing:border-box;
}

body {
  color:#FFF;
  background: url(images/black_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:sans-serif;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:0px;
}

.top_menu {
  background:#111;
  min-width:100%;
  padding-top:20px;
  text-align:center;
}

.top_menu_container {
  background:transparent;
  height:75px;
  width:960px;
  padding-top:30px;
  margin:0 auto;
  text-align:left;
}

.top_menu_container a {
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  color:#dfdfdf;
  text-transform:uppercase;
  text-decoration:none;
  margin-right:20px;
}

.top_menu_container a:hover {
  color:#FFF;
  text-decoration:none;
}

.slider {
  background:#dfdfdf;
  min-width:100%;
  padding-bottom:50px;
  padding-top:100px;
}

.slider_blurb {

}

.slider p {
  color:#000;
  max-width:600px;
  margin:0px auto;
  padding:0px 30px;
  text-align:center;
}

.logo_container {
  background:#111;
  min-width:100%;
  padding-top:50px;
  text-align:center;
  -moz-transition: all 1.0s ease-in;
  -o-transition: all 1.0s ease-in;
  -webkit-transition: all 1.0s ease-in;
  transition: all 1.0s ease-in;
}

.logo_container:hover {
  background:#000;
}

h1 {
  font-size:36px;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  text-shadow:1px 1px #000;
  text-align:center;
  padding:5px 0px 0px 0px;
  margin:0px;
}


h2 {
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#ff7200;
  text-align:center;
  padding:0px 0px 0px 0px;
  margin:0px;
}

.logo {
  width:300px;
  height:auto;
  padding-bottom:5px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}



.btn {
  font-family: 'Open Sans', sans-serif;
  font-size:14px !important;
  background:#000;
  color:#FFF;
  text-align:center;
  border:1px solid #FFF;
  border-radius:5px;
  padding:5px;
  width:120px;
  display:block;
  z-index:5;
  margin:0px auto 0px auto;
  text-transform:lowercase;
  text-decoration:none;
  font-weight:300;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.btn:hover {
  background:#FFF;
  color:#000;
  border:1px solid #FFF;
  text-decoration:none;
}

.social_icons {
  padding-top:20px;
  padding-bottom:20px;
}

footer {
  min-width:100%;
  background:#000;
  border-top:1px solid #111;
}

.footer_container {
  background:transparent;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-top:15px;
}

.footer_container a {
  color:#555;
  text-decoration:none;
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
}

.footer_container a:hover {
  color:#dfdfdf;
  font-size:12px;
  text-decoration:none;

}



@media screen and (max-width:599px) {

  .top_menu {
    position:fixed;
    min-width:100%;
  }
  .top_menu_container {
    background:transparent;
    height:75px;
    min-width:100%;
    padding-top:30px;
    margin-right:auto;
    margin-left:auto;
  }
}
